---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/rails/repos?direction=desc&sort=pushed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1433083708'
      Etag:
      - W/"821e6c1409a6551386e44207f4e4d93e"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/4223/repos?direction=desc&sort=pushed&page=2>;
        rel="next", <https://api.github.com/user/4223/repos?direction=desc&sort=pushed&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":22991474,"name":"globalid","full_name":"rails/globalid","owner":{"login":"rails","id":4223,"avatar_url":"https://avatars.githubusercontent.com/u/4223?v=3","gravatar_id":"","url":"https://api.github.com/users/rails","html_url":"https://github.com/rails","followers_url":"https://api.github.com/users/rails/followers","following_url":"https://api.github.com/users/rails/following{/other_user}","gists_url":"https://api.github.com/users/rails/gists{/gist_id}","starred_url":"https://api.github.com/users/rails/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rails/subscriptions","organizations_url":"https://api.github.com/users/rails/orgs","repos_url":"https://api.github.com/users/rails/repos","events_url":"https://api.github.com/users/rails/events{/privacy}","received_events_url":"https://api.github.com/users/rails/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/rails/globalid","description":"Identify
        app models with a URI","fork":false,"url":"https://api.github.com/repos/rails/globalid","forks_url":"https://api.github.com/repos/rails/globalid/forks","keys_url":"https://api.github.com/repos/rails/globalid/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rails/globalid/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rails/globalid/teams","hooks_url":"https://api.github.com/repos/rails/globalid/hooks","issue_events_url":"https://api.github.com/repos/rails/globalid/issues/events{/number}","events_url":"https://api.github.com/repos/rails/globalid/events","assignees_url":"https://api.github.com/repos/rails/globalid/assignees{/user}","branches_url":"https://api.github.com/repos/rails/globalid/branches{/branch}","tags_url":"https://api.github.com/repos/rails/globalid/tags","blobs_url":"https://api.github.com/repos/rails/globalid/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rails/globalid/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rails/globalid/git/refs{/sha}","trees_url":"https://api.github.com/repos/rails/globalid/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rails/globalid/statuses/{sha}","languages_url":"https://api.github.com/repos/rails/globalid/languages","stargazers_url":"https://api.github.com/repos/rails/globalid/stargazers","contributors_url":"https://api.github.com/repos/rails/globalid/contributors","subscribers_url":"https://api.github.com/repos/rails/globalid/subscribers","subscription_url":"https://api.github.com/repos/rails/globalid/subscription","commits_url":"https://api.github.com/repos/rails/globalid/commits{/sha}","git_commits_url":"https://api.github.com/repos/rails/globalid/git/commits{/sha}","comments_url":"https://api.github.com/repos/rails/globalid/comments{/number}","issue_comment_url":"https://api.github.com/repos/rails/globalid/issues/comments{/number}","contents_url":"https://api.github.com/repos/rails/globalid/contents/{+path}","compare_url":"https://api.github.com/repos/rails/globalid/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rails/globalid/merges","archive_url":"https://api.github.com/repos/rails/globalid/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rails/globalid/downloads","issues_url":"https://api.github.com/repos/rails/globalid/issues{/number}","pulls_url":"https://api.github.com/repos/rails/globalid/pulls{/number}","milestones_url":"https://api.github.com/repos/rails/globalid/milestones{/number}","notifications_url":"https://api.github.com/repos/rails/globalid/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rails/globalid/labels{/name}","releases_url":"https://api.github.com/repos/rails/globalid/releases{/id}","created_at":"2014-08-15T14:05:35Z","updated_at":"2015-05-29T12:36:04Z","pushed_at":"2015-05-31T13:15:09Z","git_url":"git://github.com/rails/globalid.git","ssh_url":"git@github.com:rails/globalid.git","clone_url":"https://github.com/rails/globalid.git","svn_url":"https://github.com/rails/globalid","homepage":null,"size":1019,"stargazers_count":395,"watchers_count":395,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":53,"mirror_url":null,"open_issues_count":5,"forks":53,"open_issues":5,"watchers":395,"default_branch":"master"},{"id":8514,"name":"rails","full_name":"rails/rails","owner":{"login":"rails","id":4223,"avatar_url":"https://avatars.githubusercontent.com/u/4223?v=3","gravatar_id":"","url":"https://api.github.com/users/rails","html_url":"https://github.com/rails","followers_url":"https://api.github.com/users/rails/followers","following_url":"https://api.github.com/users/rails/following{/other_user}","gists_url":"https://api.github.com/users/rails/gists{/gist_id}","starred_url":"https://api.github.com[...]
